
<div class="topnav" id="myTopnav">
  
  <%= link_to 'Home', '/index.html', :class =>"active", :relative => true %>
  <%= link_to 'Week One', '/week_one.html', :relative => true %>
 <%= link_to 'Week Two', '/week_two.html', :relative => true %>
 <%= link_to 'Week Three', '/week_three.html', :relative => true %>
 <%= link_to 'Week Four', '/week_four.html', :relative => true %>
 <%= link_to 'Week five', '/week_five.html', :relative => true %>
 <%= link_to 'Week Six', '/week_six.html', :relative => true %>
 <%= link_to 'Week Seven', '/week_seven.html', :relative => true %>
 <%= link_to 'Week Eight', '/week_eight.html', :relative => true %>
 <%= link_to 'Week nine', '/week_nine.html', :relative => true %>
 <%= link_to 'Week Ten', '/week_ten.html', :relative => true %>
  <a href="javascript:void(0);" class="icon" onclick="myFunction()">
    <i class="fa fa-bars"></i>
  </a>
</div>