---
title: Welcome Seeking safety
---

<main id="main-doc">
  
  </section>
<!-- end of section -->
<!-- <section class="main-section" id="What_you_should_already_know">
<header>What you should already know</header>
<article>
<p>This guide assumes you have the following basic background:</p>


</article>
</section>

<section class="main-section" id="week1">
<header>week 1</header>
<article>
<p>
JavaScript and Java are similar in some ways but fundamentally
different in some others. The JavaScript language resembles Java but
does not have Java's static typing and strong type checking.
JavaScript follows most Java expression syntax, naming conventions
and basic control-flow constructs which was the reason why it was
renamed from LiveScript to JavaScript.

</article>
</section>
-->
<%= partial "../source/layouts/_introduction" %>
<hr>
<%= partial "../source/layouts/_week1" %>
<hr>
<%= partial "../source/layouts/_week2" %>
<hr>
<%= partial "../source/layouts/_week3" %> 
<hr>
<%= partial "../source/layouts/_week4" %> 
  <hr>
<%= partial "../source/layouts/_week5" %>
<hr>
<%= partial "../source/layouts/_week6" %>
<hr>
<%= partial "../source/layouts/_week7" %>
<hr>
<%= partial "../source/layouts/_week8" %>
<hr>
<%= partial "../source/layouts/_week9" %>
<hr>
<%= partial "../source/layouts/_week10" %>
<hr>



<section class="main-section" id="Reference">
  <header>Reference</header>
  <article>
    <ul>
      <li>
        All the documentation in this page is taken from
        <a
        href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Guide"
        target="_blank"
        >MDN</a
        >
      </li>
    </ul>
  </article>
</section>

<div class="scroll-container">
  <a href="#top">To Top</a>
</div>
</main>