---
title: Welcome Seeking safety
---


 <div class="main">
  
    
  <h1>Seeking Safety Program</h1>

  <ul class="cards">
    <li class="cards_item">
      <div class="card">
        <div class="card_image">
          <%= image_tag 'seeking_safety.png' %>
        </div>
        <div class="card_content">
          <h2 class="card_title">Week One</h2>
          <p class="card_text">WHAT IS THE SEEKING SAFETY TREATMENT?</p>
          <button class="btn card_btn">
            <%= link_to 'Read More', '/week_one.html', :relative => true %>
          </button>
        </div>
      </div>
    </li>

    <li class="cards_item">
      <div class="card">
        <div class="card_image">
          <%= image_tag 'compassion.png' %>
        </div>
        <div class="card_content">
          <h2 class="card_title">Week Two</h2>
          <p class="card_text">COMPASSION FOR YOUR SUBSTANCE ABUSE</p>
          <button class="btn card_btn">
            <%= link_to 'Read More', '/week_two.html', :relative => true %>
          </button>
        </div>
      </div>
    </li>
    <li class="cards_item">
      <div class="card">
        <div class="card_image">
          <%= image_tag 'power_back.png' %>
        </div>
        <div class="card_content">
          <h2 class="card_title">Week Three</h2>
          <p class="card_text">
            PTSD: Taking Back Your Power
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          </p>
          <button class="btn card_btn">
            <%= link_to 'Read More', '/week_three.html', :relative => true %>
          </button>
        </div>
      </div>
    </li>
    <li class="cards_item">
      <div class="card">
        <div class="card_image">
          <%= image_tag 'detaching_emotional.png' %>
        </div>
        <div class="card_content">
          <h2 class="card_title">Week Four</h2>
          <p class="card_text">Grounding: Detaching from Emotional Pain</p>
          <button class="btn card_btn">
            <%= link_to 'Read More', '/week_four.html', :relative => true %>
          </button>
        </div>
      </div>
    </li>
    <li class="cards_item">
      <div class="card">
        <div class="card_image">
          <%= image_tag 'creating_meaning.png' %>
        </div>
        <div class="card_content">
          <h2 class="card_title">Week Five</h2>
          <p class="card_text">
            Creating Meaning 
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          </p>
          
          <button class="btn card_btn">
            <%= link_to 'Read More', '/week_five.html', :relative => true %>
          </button>
        </div>
      </div>
    </li>
    <li class="cards_item">
      <div class="card">
        <div class="card_image">
          <%= image_tag 'boundaries_relationships.png' %>
        </div>
        <div class="card_content">
          <h2 class="card_title">Week Six</h2>
          <p class="card_text">
            Setting Boundaries in Relationships
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          </p>         
          <button class="btn card_btn">
            <%= link_to 'Read More', '/week_six.html', :relative => true %>
          </button>
        </div>
      </div>
    </li>

    <%#  %>
    <li class="cards_item">
      <div class="card">
        <div class="card_image">
          <%= image_tag 'healing_anger.png' %>
        </div>
        <div class="card_content">
          <h2 class="card_title">Week Seven</h2>
          <p class="card_text">
            Healing From Anger
             &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          </p>
          <button class="btn card_btn">
            <%= link_to 'Read More', '/week_seven.html', :relative => true %>
          </button>
        </div>
      </div>
    </li>
    <li class="cards_item">
      <div class="card">
        <div class="card_image">
          <%= image_tag 'discovery.png' %>
        </div>
        <div class="card_content">
          <h2 class="card_title">Week Eight</h2>
          <p class="card_text">
            Discovery versus Staying Stuck
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          </p>
          <button class="btn card_btn">
            <%= link_to 'Read More', '/week_eight.html', :relative => true %>
          </button>
        </div>
      </div>
    </li>
    <li class="cards_item">
      <div class="card">
        <div class="card_image">
          <%= image_tag 'split_self.png' %>
        </div>
        <div class="card_content">
          <h2 class="card_title">Week Nine</h2>
          <p class="card_text">
            Integrating the Split Self
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          </p>
          <button class="btn card_btn">
            <%= link_to 'Read More', '/week_nine.html', :relative => true %>
          </button>
        </div>
      </div>
    </li>

    <li class="cards_item">
      <div class="card">
        <div class="card_image">
          <%= image_tag 'termination.png' %>
        </div>
        <div class="card_content">
          <h2 class="card_title">Week Ten</h2>
          <p class="card_text">
            Red and Green Flags Termination
          </p>
          <button class="btn card_btn">
            <%= link_to 'Read More', '/week_ten.html', :relative => true %>
          </button>
        </div>
      </div>
    </li>
  </ul>
</div>

